<!DOCTYPE html>
<html lang="en">

{% include './head.html' %}

<body>
	<div class="container-fluid">
		<div class="row">
    		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 page-content text-center dd-page">

		        <div class="row checkout-section">
		        	<h2 class="text-center">Direct Debit Guarantee</h2>
		        	{% load static %}
			        <img src="{% static 'images/direct_debit_logo.gif' %}" alt="Direct Debit"></img>
		        	<p>The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.</p>
		        	<p>If there are any changes to the amount, date or frequency of your Direct Debit GoCardless will notify you (normally 3 working days) in advance of your account being debited or as otherwise agreed. If you request GoCardless to collect a payment, confirmation of the amount and date will be given to you at the time of the request.</p>
		        	<p>If an error is made in the payment of your Direct Debit, by GoCardless or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society. If you receive a refund you are not entitled to, you must pay it back when GoCardless asks you to.</p>
					<p>You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify GoCardless.</p>

					<button onclick="goBack()" class="btn btn-lg btn-primary btn-block btn-spaced">Done</button>

						<script>
						function goBack() {
						    window.history.back();
						}
						</script>

		        </div>

		    </div>
		</div>
	</div>
</body>

</html>